@import "./zeroing-style.scss";

body {
    font-size: 1.1em;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin-top: 10px;
    overflow: hidden;

    ::-webkit-scrollbar {
        position: absolute;
        background-color: #828c99;
        width: 2px;
        height: 3px;
    }

    :hover:-webkit-scrollbar {
        position: absolute;
        background-color: #828c99;
        width: 2px;
        height: 3px;
    }

    ::-webkit-scrollbar-thumb {
        position: absolute;
        background-color: #828c99;
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        position: absolute;
        background-color: #343c54;
        border-radius: 2px;
    }
    input:hover {
        cursor: pointer;
    }
    .conteiner {
        max-width: 1000px;
        margin: 0 auto;
        border: 1px solid black;

        .header {
            display: flex;
            justify-content: space-around;
            background-color: #f7f7f7;
            padding: 3px;
            height: 30px;
        }

        .content {
            display: flex;
            flex-direction: row;
            padding: 2px;
            .side-bar {
                flex-direction: column;
                flex-basis: 30%;
                height: 85vh;
                overflow: auto;
                user-select: none;
                .close-folder {
                    list-style-image: url("../assets/folder_icon_131534.svg");
                }
                .open-folder {
                    list-style-image: url("../assets/filefolder_83876.svg");
                }
                .file {
                    list-style-image: url("../assets/file_106358.svg");
                }
                span {
                    display: block;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                flex-basis: 70%;
                border-left: 3px solid #f7f7f7;
                padding-left: 4px;
                overflow: auto;

                .tabs {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    height: 40spx;
                    margin-left: 4px;
                    margin-right: 4px;
                    flex: 1 1 auto;
                    overflow-x: scroll;
                    overflow-y: hidden;

                    .tab {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 1px;
                        height: 30px;
                        flex: 0 1 auto;
                        padding-left: 5px;
                        padding-right: 5px;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-right: 1px solid #708cac;
                        border-left: 1px solid #708cac;
                        border-top: 1px solid #708cac;
                        user-select: none;
                        .closeBtn {
                            cursor: pointer;
                            width: 15px;
                            height: 15px;
                            margin-left: 10px;
                            background: url("../assets/close_111152.svg")
                                no-repeat;
                        }
                    }
                }
                .file-info {
                    border-left: 2px solid #f7f7f7;
                    height: 78vh;
                    overflow: auto;
                }
            }
        }
    }
}

.selected {
    background: #728ca9;
}

.selected-tab {
    border-bottom: none;
    background-color: #818c9a;
    z-index: 10;
}

span {
    cursor: pointer;
}
